/* --------------- NORMAL TAGS --------------- */

table.dataTable {
	border-color: #33373a !important;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 2px solid #fff;
}

div.dataTables_info,
div.dataTables_filter label,
div.dataTables_filter label input,
div.dataTables_length select,
div.dataTables_length label {
	color: #fff !important;
}

div.dataTables_length select option {
	color: #fff;
	background-color: rgba(33, 37, 41, 1);
}

div.dataTables_wrapper {
	width: 100%;
}

div.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: white !important;
}

/* --------------- ON HOVER --------------- */

div.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none;
	color: #fff !important;
	border-radius: 4px;
	border: 1px solid #828282;
}

/* --------------- ON ACTIVE --------------- */

div.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	background: none;
	color: black!important;
}